.hero-content {
  margin: 0px -25px;
  display: flex;
  padding: 32px 0 16px;
}
.hero-item {
  width: 25%;
  display: flex;
  padding: 0 24px;
}
.hero-item-content {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  padding-left: 16px;
  flex-direction: column;
}
.hero-item-content-main {
  color: #4a5568;
  font-size: 12px;
  margin-top: 6px;
  font-weight: normal;
  line-height: 16px;
}
.hero-component{
  margin: 0 auto;
  padding: 12px 0 28px;
  max-width: 1188px;
}
