@import "../../format-scss/_flex.scss";
@import "../../format-scss/reset.scss";
.AwesomeServices {
  width: 100%;
  max-height: 100vh;
  background-color: rgb(245, 245, 245);
  margin-bottom: 50px;
  .favorite_room_header-title {
    margin-top: 30px;
    color: #1dc1f8;
    font-size: 2.2em;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    position: relative;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    width: 100%;
    &::after {
      background: url("https://preview.eagle-themes.com/html/zante/images/icons/wave.svg");
      content: "";
      display: block;
      height: 5px;
      position: relative;
      width: 80px;
      margin: 10px auto;
      opacity: 0.5;
    }
  }
  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    p {
      width: 60%;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #858a99;
      line-height: 1.7;
      margin: 30px;
    }
  }

  .left {
    width: 55%;
    img {
      max-width: 100%;
    }
  }
  .right {
    width: 40%;
    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            padding: 11.5px;
            margin: 10px 0;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
            background-color: white;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            &:first-child {
              margin-top: 0;
            }
            &:hover {
              transition: 0.3s all;
              border: 1px solid rgba(51, 51, 51, 0.15);
            }
            h3 {
              font-weight: 100;
              margin-bottom: 10px;
              color: #3e4044;
            }
            p {
              font-size: 14px;
              color: #858a99;
            }
          }
          .slick-current {
            background-color: rgb(51, 51, 51);

            transition: 0.3s all;
            h3 {
              color: rgba(255, 255, 255, 0.95);
            }
            p {
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
}
