.header-component {
    color: #1a202c;
    /* height: 488px; */
    position: relative;
    font-size: 14px;
    font-weight: normal;
}

.home-component-up {
    object-fit: none;
}

.home-component-up video {
    object-fit: none;
}

.home-component-down {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}

.home-navbar {
    top: 0;
    color: #1a202c;
    z-index: 1001;
    position: fixed;
    width: 100%;
    padding: 50px 12px 12px 12px;
    font-size: 14px;
    transition: all 0.3s;
    line-height: 17px;
}

.home-navbar-inside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1411px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.home-navbar-left {
    display: flex;
    align-items: center;
}

.link-event-delay {
    text-decoration: none;
    font-size: 0.95rem !important;
    font-weight: 780 !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    gap: 0px 4px;
}

.main-element {
    margin: 0;
}

.home-navbar-right {
    display: flex;
    align-items: center;
}

.home-header-gift {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0 24px 0 0;
    color: #ffffff;
    cursor: pointer;
}

.scroll-down .home-header-gift {
    color: black;
}

.home-header-ring {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
}

.home-header-ring-content {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.home-header-center {
    width: 100%;
    padding: 8px 0;
    margin-top: 200px;
    border-bottom: none;
    background-color: inherit;
}

.home-headr-center-main {
    margin: 0 auto;
    max-width: 1188px;
    min-height: 116px;
    border-radius: 8px;
    background-color: #ffffff;
}

.home-header-center-main-up {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #edf2f7;
    justify-content: center;
}

.home-header-center-main-up-content {
    gap: 40px;
    display: flex;
    position: relative;
    align-items: center;
}

.home-header-ks {
    cursor: pointer;
    display: flex;
    position: relative;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    align-items: center;
    font-weight: 600;
    line-height: 19px;
}

.home-header-down {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    flex-direction: column;
}

.home-header-down-center {
    border: none;
    box-shadow: rgb(0 0 0 / 20%) 0px 15px 15px;
    width: 100%;
    display: flex;
    padding: 8px 0;
    background: white;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.scroll-down {
    color: #858a99;
    font-size: 0.8em;
    background-color: #ffffff;
    padding: 15px;
    font-size: 0.95rem !important;
    font-weight: 780 !important;
    letter-spacing: 0.05em;
    gap: 0px 4px;
}

.scroll-down .home-navbar-inside .home-navbar-left a {
    color: #858a99 !important;
}

.scroll-down .home-navbar-inside .home-navbar-right a {
    color: #111111;
}

.scroll-down .home-navbar-inside .home-navbar-left a:hover {
    color: #deb666 !important;
}

.scroll-down .home-navbar-inside .home-navbar-right a:hover {
    color: #ffffff !important;
}

.btn-dn-dk {
    top: 32px;
    width: 220px;
    border: 1px solid #edf2f7;
    padding: 10px 8px;
    z-index: 1;
    position: absolute;
    background: white;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    border-radius: 8px;
}

.ks-drop-down {
    top: 32px;
    width: 220px;
    border: 1px solid #edf2f7;
    padding: 10px 8px;
    z-index: 1;
    position: absolute;
    background: white;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    border-radius: 8px;
}

.btn-dn-dk-main {
    width: 100%;
    position: relative;
    font-weight: 300;
}

.ks-drop-down-main {
    width: 100%;
    position: relative;
}

.header-btn {
    top: -15px;
    right: 15px;
    width: 13px;
    height: 13px;
    position: absolute;
    transform: rotate(45deg);
    background: white;
}

.btn-dangnhap {
    display: flex;
    padding: 14px 0;
    align-items: center;
    padding-left: 8px;
    border-radius: 8px;
}

.btn-ks {
    display: flex;
    padding: 14px 0;
    align-items: center;
    padding-left: 8px;
    border-radius: 8px;
}

.btn-dangnhap-lable {
    text-decoration: none;
    color: #1a202c;
    font-size: 14px;
    line-height: 17px;
}

.btn-ks-lable {
    text-decoration: none;
    color: #858a99;
    font-size: 0.9em;
    line-height: 17px;
}

.btn-dangki {
    display: flex;
    padding: 14px 0;
    align-items: center;
    padding-left: 8px;
    border-radius: 8px;
    outline: none;
}

.btn-dangki-label {
    text-decoration: none;
    color: #1a202c;
    font-size: 14px;
    line-height: 17px;
}

.isdisplay {
    display: none;
}

.log-btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.dropdown-container {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    height: 100%;
    width: 100%;
}

.ks-position {
    display: none;
    position: absolute;
    top: 100%;
    right: 3px;
}

.single-navbar:hover .ks-position {
    display: block;
}

.ks-position .ks-drop-down {
    position: initial;
}

.isShowKS {
    display: none;
}

.home-main .main-element:hover {
    color: #deb666 !important;
}

.btn-book-now {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30%;
}

.btn-book-now a:hover {
    background-color: rgb(197, 157, 79);
    transition: 0.3s all;
}

.btn-book-now a {
    text-decoration: none;
    color: #ffffff !important;
    padding: 10px 20px;
    background-color: #deb666;
    font-size: 0.95em;
    font-weight: 750;
    letter-spacing: 0.05em;
}

a .fa-calendar-days {
    margin-right: 10px;
    font-size: 14px;
}

.hover-btn-dangnhap:hover {
    background-color: #deb666;
    color: #ffffff;
}

.scroll-down .icon-main svg {
    fill: #606060;
}

.icon-main svg:hover {
    fill: #8f92e2;
}

.scroll-down .icon-main svg:hover {
    fill: #8f92e2;
}

.btn-ks:hover {
    background-color: #dfdfdf;
    color: #79868f;
}

.logo-component {
    width: 140px;
}