.header-booking-form {
    background: rgba(147, 0, 17, .75);
    background: -webkit-linear-gradient(145deg, rgba(147, 0, 17, .5) 0, rgba(86, 20, 147, .5) 100%);
    background: -webkit-linear-gradient(315deg, rgba(147, 0, 17, .5) 0, rgba(86, 20, 147, .5) 100%);
    background: linear-gradient(135deg, rgba(147, 0, 17, .5) 0, rgba(86, 20, 147, .5) 100%);
}

.header-booking-form img {
    width: 100%;
    height: 50vh;
    opacity: 0.5;
    object-fit: cover;
}

.header-booking-form .content {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20vh;
    left: 0;
}

.header-booking-form .content h1 {
    color: #fff;
    font-size: 2.6em;
    font-weight: 400;
}

.header-booking-form .content span {
    margin-right: 10px;
    color: #deb666;
}

.header-booking-form .content a {
    color: #fff;
    text-decoration: none;
}

.rooms_list {
    padding: 100px 0;
    background: #fff;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.rooms_list-container {
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    margin: 0 120px;
}

.rooms_list-item {
    background: #f5f5f5;
    margin-bottom: 50px;
    border: 1px solid #eeeeee;
    border-radius: 1px;
}

.rooms_list-item-container {
    height: 100%;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.rooms_list-item-container-left {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.rooms_list-item-container-right {
    width: 66.66666667%;
}

.room_details {
    display: flex;
    height: 100%;
    /* flex-wrap: wrap; */
}

.room_desc {
    padding: 15px 0;
}

.room_desc h3 {
    font-size: 1.7em;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-weight: 400;
}

.room_desc h3 a {
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 1.2em;
    transition: all 0.2s ease-out;
}

.room_desc p {
    color: #858a99;
    padding-top: 10px;
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
}

.room_services {
    padding-top: 30px;
}

.room_services i {
    background: #deb666;
    padding: 5px 14px;
    font-size: 1.2em;
    color: #fff;
    margin: 5px;
    border: 1px solid #deb666;
    border-radius: 2px;
    cursor: pointer;
}

.room_price {
    text-align: center;
    background: #eee;
    padding: 0 40px;
    border-left: 1px solid #e9e8e7;
}

.room_price_inner {
    padding-top: 36px;
    padding-bottom: 37px;
}

.room_price_number {
    font-size: 2em;
    color: #606060;
}

.upper {
    text-transform: uppercase;
    font-size: 1em;
    color: #858a99;
    display: block;
    padding-top: 10px;
}

.room_price_inner a {
    clear: both;
    display: block;
    position: relative;
    margin-top: 50px;
    background: #deb666;
    border-color: #deb666;
    color: #fff;
    width: 100% !important;
    border: 1px solid;
    border-radius: 1px;
    font-size: 0.9em;
    padding: 8px 15px;
    font-weight: 600;
    letter-spacing: 0.04em;
    transition: all ease 0.3s;
    line-height: 1.82857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
}

.room_services i:hover {
    background-color: rgb(197, 157, 79);
    transition: 0.3s all;
}

.center {
    display: block;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    float: left;
    margin-right: 15px;
    display: inline;
}

.pagination a {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 700;
    display: inline-block;
    font-size: 13px;
    line-height: 42px;
    height: 43px;
    min-width: 43px;
    padding: 0 11px;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #eeeeee;
    color: #1dc1f8;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.pagination li.active a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.center {
    text-align: center;
}