/* .jss140 {
    width: 100%;
    margin: 12px auto 4px;
    position: relative;
    max-width: 1188px;
    background: white;
}
.jss1 {
    width: 100%;
    background: white;
}
.home-icon{
    background: white; height: 40px; width: 40px; display: flex; align-items: center; justify-content: center; z-index: 2; border-radius: 100px; box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px; cursor: pointer; position: absolute; top: 50%; transform: translate(-50%, -50%); left: 0px;
}
.jss146 {
    width: 16px;
    height: 17px;
    stroke: #1a202c;
}
.home-svg{
    transform: rotate(180deg);
}
.jss2 {
    margin: 0 auto;
    padding: 12px 0 28px;
    max-width: 1188px;
}

.jss151 {
    margin: 0px -25px;
    display: flex;
    padding: 32px 0 16px;
}
.jss152 {
    width: 25%;
    display: flex;
    padding: 0 24px;
}
.jss155 {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding-left: 16px;
    flex-direction: column;
}
.jss154 {
    color: #4A5568;
    font-size: 12px;
    margin-top: 6px;
    font-weight: normal;
    line-height: 16px;
}
.jss349 {
    width: 100%;
    font-size: 14px;
    background: #FFF5F7;
    font-weight: normal;
    line-height: 17px;
    margin-bottom: 44px;
}
.jss31 {
    margin: 0 auto;
    max-width: 1188px;
}
.home-1{
    background: rgb(255, 255, 255); color: rgb(160, 174, 192); cursor: default; pointer-events: none; text-transform: inherit;
}
.home-2{
    background: rgb(255, 51, 102); color: rgb(255, 255, 255); cursor: pointer; pointer-events: visible; text-transform: inherit;
}
.jss364 {
    display: flex;
    padding: 24px 0 16px 0;
    align-items: flex-end;
    justify-content: space-between;
}
.jss365 {
    display: flex;
    flex-direction: column;
}
.jss358 {
    display: flex;
    align-items: center;
    padding-top: 6px;
}
.jss393 {
    margin-right: 6px;
}
.jss394 {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.jss359 {
    color: #ffffff;
    width: 22px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    background-color: #FF3366;
}
.jss394 {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.jss360 {
    color: #FF3366;
}
.jss396 {
    margin: 0 6px;
}
.jss356 {
    width: 110px;
    height: 48px;
    margin: 0 4px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
}
.jss405 {
    font-weight: 600;
}
.jss357 {
    display: flex;
    font-size: 11px;
    margin-top: 2px;
    align-items: center;
    line-height: 13px;
}

.jss408 {
    font-weight: 600;
}
.jss411 {
    font-weight: 600;
}
.jss414 {
    font-weight: 600;
}.jss355 {
    display: flex;
    align-items: center;
}
.jss1196 {
    display: flex;
    padding-top: 16px;
    padding-bottom: 24px;
    justify-content: center;
}
.MuiLink-underlineHover {
    text-decoration: none;
}
.MuiTypography-colorPrimary {
    color: #00B6F3;
}
.MuiTypography-root {
    margin: 0;
}
.jss1197 {
    color: rgb(255, 51, 102);
    width: fit-content;
    border: 1px solid rgb(255, 51, 102);
    height: 40px;
    margin: 0px;
    padding: 12px 35px;
    font-size: 14px;
    min-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
    background-color: inherit;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.jss466 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    flex-direction: column;
    justify-content: space-between;
}   
.jss477 {
    display: flex;
    justify-content: space-between;
}
.jss468 {
    display: flex;
}
.jss469 {
    color: #1A202C;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.MuiTypography-body1 {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: normal;
    line-height: 20px;
}
.jss480 {
    display: flex;
}
.MuiTypography-h4 {
    font-size: 24px;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: 600;
    line-height: 28px;
}
.jss483 {
    color: rgb(255, 51, 102);
    width: fit-content;
    border: 1px solid rgb(255, 51, 102);
    height: 40px;
    margin: 0px;
    padding: 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
    background-color: inherit;
}
.jss512 {
    width: 100%;
    padding: 44px 0;
    background: #FBF3F7;
    margin-bottom: 44px;
}
.jss513 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    flex-direction: column;
    justify-content: space-between;
}
.jss529 {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    justify-content: space-between;
}
.jss515 {
    text-align: center;
}
.jss200 {
    
    position: relative;
}
.jss526 {
    width: 173px;
    height: 46px;
}
.jss204 {
    opacity: 0;
    transition: opacity 500ms;
}
.jss201 {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
    opacity: 1;
    z-index: 1;
    position: absolute;
    transition: opacity 500ms;
    align-items: center;
    justify-content: center;
    background-color: #EDF2F7;
}
.jss203 {
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}
.jss517 {
    color: #4A5568;
    font-size: 14px;
    margin-top: 8px;
    line-height: 17px;
}
.MuiLink-underlineHover {
    text-decoration: none;
}
.MuiTypography-colorPrimary {
    color: #00B6F3;
}
.jss2600 {
    width: 100%;
    padding: 44px 0;
    background: #EDF6F9;
}
.jss2601 {
    width: calc(100% + 24px);
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    flex-direction: column;
}
.jss2602 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.jss2604 {
    color: #1A202C;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.jss2605 {
    display: flex;
}
.jss2607 {
    color: white;
    background: #4A5568;
    border-color: #4A5568;
}
.jss2606 {
    color: #1A202C;
    background: white;
    margin-left: 12px;
    border-color: #A0AEC0;
}
.jss2613 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.MuiButton-text {
    padding: 6px 8px;
}
.jss2616 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.jss2619 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.jss2622 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.jss2625 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.jss2628 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.jss2631 {
    color: inherit;
    width: fit-content;
    border: 1px solid rgb(204, 204, 204);
    height: 32px;
    margin: 0px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 100px;
    text-transform: none;
    background-color: inherit;
}
.jss2600 {
    width: 100%;
    padding: 44px 0;
    background: #EDF6F9;
}
.jss2601 {
    width: calc(100% + 24px);
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    flex-direction: column;
}
.jss2603 {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.jss2230 {
    text-decoration: none !important;
}
.MuiTypography-colorPrimary {
    color: #00B6F3;
}
.jss2231 {
    color: #1a202c;
    width: 100%;
    border: 1px solid #EDF2F7;
    cursor: pointer;
    height: 100%;
    font-size: 14px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 3%);
    transition: box-shadow 0.4s;
    line-height: 17px;
    border-radius: 8px;
    background-color: #ffffff;
}
.jss2232 {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}
.jss2233 {
    width: 100%;
    height: 155px;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}
.jss1311 {
    opacity: 0;
    transition: opacity 500ms;
}
.jss1308 {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
    opacity: 1;
    z-index: 1;
    position: absolute;
    transition: opacity 500ms;
    align-items: center;
    justify-content: center;
    background-color: #EDF2F7;
}
.jss2233 {
    width: 100%;
    height: 155px;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}
.jss1310 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.jss2242 {
    width: 100%;
    height: calc(100% - 155px);
    display: flex;
    padding: 12px;
    min-height: 180px;
    flex-direction: column;
    justify-content: space-between;
}
.jss2243 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
} */
