@import url('https://fonts.googleapis.com/css2?family=Karla&family=Pragati+Narrow&family=Sacramento&display=swap');
.banner {
  width: 100%;
  height: 100vh;
  margin-bottom: 150px;
  video {
    position: absolute;
    z-index: -100;
    width: 100%;
  }
  .content {   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    p {
      transform: rotate(270deg);
      font-size: 10.5px;
      margin-right: -25px;
      font-weight: 700;
    }
    h2 {
      font-size: 100px;
      
      font-family: 'Lato', sans-serif;
    }
  }
  .btn-book-now {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30%;
    
    a {
      &:hover {
        background-color: rgb(197, 157, 79);
        transition: 0.3s all;
      }
      text-decoration: none;
      color: #fff;
      padding: 10px 20px;
      background-color: #deb666;
      .fa-calendar-days {
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }
}